* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyContainer {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20x;
    height: 100vh;
}

.topViewContainer {
    background-color: white;
    width: 60vw;
    height: 95vh;
    border-width: 2px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.questionBox {
    background-color: white;
    width: 35vw;
    height: 20vh;
    border-width: 2px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 15px;
    padding: 5px;
}

.typing {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid #000; /* Cursor effect */
    font-size: 24px;
    animation: typing 2s steps(40) 1s 1 normal both; /* Typing animation */
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}